openapi: 3.1.1
info:
  contact:
    email: contact@api2cart.com
  description: API2Cart
  termsOfService: https://api2cart.com/terms-service
  title: API2Cart OpenAPI
  version: "1.1"
externalDocs:
  description: Find out more about API2Cart
  url: http://docs.api2cart.com
servers:
- description: API2Cart Production Server
  url: https://api.api2cart.local.com/v1.1
tags:
- name: account
- name: cart
- name: product
- name: marketplace
- name: category
- name: order
- name: customer
- name: attribute
- name: tax
- name: webhook
- name: batch
paths:
  /account.failed_webhooks.json:
    get:
      description: "If the callback of your service for some reason could not accept\
        \ webhooks from API2Cart, then with the help of this method you can get a\
        \ list of missed webhooks to perform synchronization again using entity_id.\
        \ Please note that we keep such records for 24 hours."
      operationId: AccountFailedWebhooks
      parameters:
      - description: This parameter sets the number from which you want to get entities
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: List of сomma-separated webhook ids
        example: "3,14,25"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFailedWebhooks_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
      summary: account.failed_webhooks
      tags:
      - account
  /account.supported_platforms.json:
    get:
      description: "Use this method to retrieve a list of supported platforms and\
        \ the sets of parameters required for connecting to each of them. Note: some\
        \ platforms may have multiple connection methods so that the response will\
        \ contain multiple sets of parameters."
      operationId: AccountSupportedPlatforms
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSupportedPlatforms_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
      summary: account.supported_platforms
      tags:
      - account
  /account.cart.list.json:
    get:
      description: "This method lets you get a list of online stores connected to\
        \ your API2Cart account. You can get the number of API requests to each store\
        \ if you specify a period using parameters (request_from_date, request_to_date).\
        \ The total_calls field is displayed only if there are parameters (request_from_date,\
        \ request_to_date)."
      operationId: AccountCartList
      parameters:
      - description: A web address of a store
        example: http://mystore.com
        explode: true
        in: query
        name: store_url
        required: false
        schema:
          type: string
        style: form
      - description: Find store by store key
        example: ab37fc230bc5df63a5be1b11220949be
        explode: true
        in: query
        name: store_key
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities from their creation date
        example: 2010-07-29
        explode: true
        in: query
        name: request_from_date
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities to their creation date
        example: 2100-08-29
        explode: true
        in: query
        name: request_to_date
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "url,store_key"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: "url,store_key"
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCartList_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
      summary: account.cart.list
      tags:
      - account
  /account.cart.add.json:
    post:
      description: "Use this method to automate the process of connecting stores to\
        \ API2Cart. The list of parameters will vary depending on the platform. To\
        \ get a list of parameters that are specific to a particular shopping platform,\
        \ you need to execute the account.supported_platforms.json method."
      operationId: AccountCartAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCartAdd'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCartAdd_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
      summary: account.cart.add
      tags:
      - account
  /account.config.update.json:
    put:
      description: Use this method to automate the change of credentials used to connect
        online stores. The list of supported parameters differs depending on the platform.
      operationId: AccountConfigUpdate
      parameters:
      - description: Identifies if there is a necessity to replace parameters
        example: true
        explode: true
        in: query
        name: replace_parameters
        required: false
        schema:
          type: boolean
        style: form
      - description: The web address of the store you want to update to connect to
          API2Cart
        example: http://mystore.com
        explode: true
        in: query
        name: new_store_url
        required: false
        schema:
          type: string
        style: form
      - description: Update store key
        example: b636495648de3086f6f57b1bd4be548f
        explode: true
        in: query
        name: new_store_key
        required: false
        schema:
          type: string
        style: form
      - description: This parameter allows to set up store with custom bridge url
          (also you must use store_root parameter if a bridge folder is not in the
          root folder of the store)
        example: https://your-store.com/custom/bridge/path/bridge.php
        explode: true
        in: query
        name: bridge_url
        required: false
        schema:
          type: string
        style: form
      - description: Absolute path to the store root directory (used with "bridge_url"
          parameter)
        example: /home/www/stores/magento1922
        explode: true
        in: query
        name: store_root
        required: false
        schema:
          type: string
        style: form
      - description: DB tables prefix
        example: oc_
        explode: true
        in: query
        name: db_tables_prefix
        required: false
        schema:
          type: string
        style: form
      - description: "This parameter allows you to set your custom user agent, which\
          \ will be used in requests to the store. Please use it cautiously, as the\
          \ store's firewall may block specific values."
        example: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101
          Firefox/47.0
        explode: true
        in: query
        name: user_agent
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Private Key
        example: 7dba81f90bdbe25e7000e73214ca51b
        explode: true
        in: query
        name: 3dcart_private_key
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart Token
        example: 4Grr_ZCLNNoSUuhAjesKuchxo9SL
        explode: true
        in: query
        name: 3dcart_access_token
        required: false
        schema:
          type: string
        style: form
      - description: 3DCart API Key
        example: 82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a
        explode: true
        in: query
        name: 3dcartapi_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API app client id
        example: amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4
        explode: true
        in: query
        name: amazon_sp_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API app client secret
        example: 2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb
        explode: true
        in: query
        name: amazon_sp_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API OAuth refresh token
        example: Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8
        explode: true
        in: query
        name: amazon_sp_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Amazon AWS Region
        example: us-east-1
        explode: true
        in: query
        name: amazon_sp_aws_region
        required: false
        schema:
          type: string
        style: form
      - description: Amazon SP API environment
        example: sandbox
        explode: true
        in: query
        name: amazon_sp_api_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Amazon Seller ID (Merchant token)
        example: 13P636B2M1N4WR
        explode: true
        in: query
        name: amazon_seller_id
        required: false
        schema:
          type: string
        style: form
      - description: It's a AspDotNetStorefront account for which API is available
        example: admin
        explode: true
        in: query
        name: aspdotnetstorefront_api_user
        required: false
        schema:
          type: string
        style: form
      - description: AspDotNetStorefront API Password
        example: f6471ef78f72b41849a8b8b67791b0b5
        explode: true
        in: query
        name: aspdotnetstorefront_api_pass
        required: false
        schema:
          type: string
        style: form
      - description: Americommerce App ID
        example: "1"
        explode: true
        in: query
        name: americommerce_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Americommerce App Secret
        example: 9fd3d282d65a007a2b9d541b5e0e410b2cecd6199632db53503b93637b8a6000
        explode: true
        in: query
        name: americommerce_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: Americommerce Access Token
        example: 1e721f59b610e2666caea03094600765
        explode: true
        in: query
        name: americommerce_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Americommerce Refresh Token
        example: 520c011444af41d916543cdda859a5114
        explode: true
        in: query
        name: americommerce_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: It's a BigCommerce account for which API is enabled
        example: admin
        explode: true
        in: query
        name: bigcommerceapi_admin_account
        required: false
        schema:
          type: string
        style: form
      - description: BigCommerce API URL
        example: http://mystore.bigcommerce.com/api/v1
        explode: true
        in: query
        name: bigcommerceapi_api_path
        required: false
        schema:
          type: string
        style: form
      - description: Bigcommerce API Key
        example: 6b89704cd75738cb0f9f6468d5462aba
        explode: true
        in: query
        name: bigcommerceapi_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Client ID of the requesting app
        example: p1r37bt131z86675nofv9xmhietoe4t
        explode: true
        in: query
        name: bigcommerceapi_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: bigcommerceapi_access_token
        required: false
        schema:
          type: string
        style: form
      - description: API Path section unique to the store
        example: stores/etplnf8o8v
        explode: true
        in: query
        name: bigcommerceapi_context
        required: false
        schema:
          type: string
        style: form
      - description: Bol API Key
        example: 51369628-feee-11ed-be56-0242ac120002
        explode: true
        in: query
        name: bol_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Bol API Secret
        example: 8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!
        explode: true
        in: query
        name: bol_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: Bol Retailer ID
        example: "145001"
        explode: true
        in: query
        name: bol_retailer_id
        required: false
        schema:
          type: integer
        style: form
      - description: Demandware client id
        example: b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0
        explode: true
        in: query
        name: demandware_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Demandware api password
        example: testpassword
        explode: true
        in: query
        name: demandware_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user name
        example: admin
        explode: true
        in: query
        name: demandware_user_name
        required: false
        schema:
          type: string
        style: form
      - description: Demandware user password
        example: "12345"
        explode: true
        in: query
        name: demandware_user_password
        required: false
        schema:
          type: string
        style: form
      - description: Application ID (AppID).
        example: a9psel85v1wy5faeyjw03y0r
        explode: true
        in: query
        name: ebay_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Shared Secret from eBay application
        example: gmz3iz45x2
        explode: true
        in: query
        name: ebay_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: The RuName value that eBay assigns to your application.
        example: gmz3iz45x2
        explode: true
        in: query
        name: ebay_runame
        required: false
        schema:
          type: string
        style: form
      - description: Used to authenticate API requests.
        example: v^1.1#i ... AjRV4yNjA=
        explode: true
        in: query
        name: ebay_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Used to renew the access token.
        example: v^1.1#i ... rAewqVasdA=
        explode: true
        in: query
        name: ebay_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: eBay environment
        example: sandbox
        explode: true
        in: query
        name: ebay_environment
        required: false
        schema:
          type: string
        style: form
      - description: eBay global ID
        example: "101"
        explode: true
        in: query
        name: ebay_site_id
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: ecwid_acess_token
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: ecwid_store_id
        required: false
        schema:
          type: string
        style: form
      - description: Lazada App ID
        example: "112577"
        explode: true
        in: query
        name: lazada_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Lazada App Secret
        example: er33raICJ79Q5b0EsR9stmRnjE9XQ2WH
        explode: true
        in: query
        name: lazada_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: Lazada Refresh Token
        example: EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br
        explode: true
        in: query
        name: lazada_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Lazada API endpoint Region
        example: Malaysia
        explode: true
        in: query
        name: lazada_region
        required: false
        schema:
          type: string
        style: form
      - description: Etsy keystring
        example: a9psel85v1wy5faeyjw03y0r
        explode: true
        in: query
        name: etsy_keystring
        required: false
        schema:
          type: string
        style: form
      - description: Etsy shared secret
        example: gmz3iz45x2
        explode: true
        in: query
        name: etsy_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: etsy_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Secret token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: etsy_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: Etsy Client Id
        example: w0fi0igk2w29bjcd7ydr2s35
        explode: true
        in: query
        name: etsy_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Etsy Refresh token
        example: 223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS
        explode: true
        in: query
        name: etsy_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Facebook App ID
        example: "6516912365277570"
        explode: true
        in: query
        name: facebook_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Facebook App Secret
        example: 737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b
        explode: true
        in: query
        name: facebook_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: Facebook Access Token
        example: EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br
        explode: true
        in: query
        name: facebook_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Facebook Business ID
        example: "294042786906655"
        explode: true
        in: query
        name: facebook_business_id
        required: false
        schema:
          type: string
        style: form
      - description: Neto API Key
        example: bbca57d8ff3c3677128112c15556d9e3
        explode: true
        in: query
        name: neto_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Neto User Name
        example: mylogin
        explode: true
        in: query
        name: neto_api_username
        required: false
        schema:
          type: string
        style: form
      - description: Shopline APP Key
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: shopline_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Shopline APP Key
        example: 737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b
        explode: true
        in: query
        name: shopline_app_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopline App Secret
        example: 1701d123bb5cc14cd2732dcaed90638316c0a09
        explode: true
        in: query
        name: shopline_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: Shopline Shared Secret
        example: 1701d123bb5cc14cd2732dcaed90638316c0a09
        explode: true
        in: query
        name: shopline_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: shopify_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Key
        example: bbca57d8ff3c3677128112c15556d9e3
        explode: true
        in: query
        name: shopify_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopify API Password
        example: 860f3a6fc87632301a42cd88e4b5ab3d
        explode: true
        in: query
        name: shopify_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Shared secret
        example: gmz3iz45x2
        explode: true
        in: query
        name: shopify_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Shopee Partner ID
        example: "1276777"
        explode: true
        in: query
        name: shopee_partner_id
        required: false
        schema:
          type: string
        style: form
      - description: Shopee Partner Key
        example: 6a46494b4d746576554646626775617a577542774850636375464d6a736d5598
        explode: true
        in: query
        name: shopee_partner_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopee SHOP ID
        example: "137968"
        explode: true
        in: query
        name: shopee_shop_id
        required: false
        schema:
          type: string
        style: form
      - description: Shopee Refresh Token
        example: EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU987mVVb5br
        explode: true
        in: query
        name: shopee_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Shopee API endpoint Region. Use for Chinese Mainland or Brazil.
        example: CN
        explode: true
        in: query
        name: shopee_region
        required: false
        schema:
          type: string
        style: form
      - description: Shopee Environment
        example: sandbox
        explode: true
        in: query
        name: shopee_environment
        required: false
        schema:
          type: string
        style: form
      - description: Access token authorizing the app to access resources on behalf
          of a user
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: shoplazza_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Shared secret
        example: gmz3iz45x2
        explode: true
        in: query
        name: shoplazza_shared_secret
        required: false
        schema:
          type: string
        style: form
      - description: Miva access token
        example: 227cbe434a1e358d72db0de993x9d9fd
        explode: true
        in: query
        name: miva_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Miva signature
        example: 1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=
        explode: true
        in: query
        name: miva_signature
        required: false
        schema:
          type: string
        style: form
      - description: Shopware access key
        example: SWSCS3O1RJBSRNBYQLFIYJN2ZQ
        explode: true
        in: query
        name: shopware_access_key
        required: false
        schema:
          type: string
        style: form
      - description: UNAS API Key
        example: c238908e29ceb6e6ad3df15f89a6234709d3f000
        explode: true
        in: query
        name: unas_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware api key
        example: SWSCS3O1RJBSRNBYQLFIYJN2ZQ
        explode: true
        in: query
        name: shopware_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Shopware client secret access key
        example: V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ
        explode: true
        in: query
        name: shopware_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: Subdomain of store
        example: subdomain
        explode: true
        in: query
        name: bigcartel_user_name
        required: false
        schema:
          type: string
        style: form
      - description: BigCartel account password
        example: 4GrrZCLNNoSUuhAjesKuchxo9SL
        explode: true
        in: query
        name: bigcartel_password
        required: false
        schema:
          type: string
        style: form
      - description: Bricklink Consumer Key
        example: 26F6CDA087D9444EAA71AC09E7A1D39A
        explode: true
        in: query
        name: bricklink_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Bricklink Consumer Secret
        example: a46abc3kxyinlbggy06i9g975xqo6gjq
        explode: true
        in: query
        name: bricklink_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Bricklink Access Token
        example: ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy
        explode: true
        in: query
        name: bricklink_token
        required: false
        schema:
          type: string
        style: form
      - description: Bricklink Access Token Secret
        example: a46abc3kxyinlbggy06i9g975xqo6gjq
        explode: true
        in: query
        name: bricklink_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: It's a Volusion account for which API is enabled
        example: admin
        explode: true
        in: query
        name: volusion_login
        required: false
        schema:
          type: string
        style: form
      - description: Volusion API Password
        example: 7943CA5F3990E00D9A4CCF0BD998211F
        explode: true
        in: query
        name: volusion_password
        required: false
        schema:
          type: string
        style: form
      - description: Walmart client ID. For the region 'ca' use Consumer ID
        example: 423f6A24-123z-8654-989u-6fa96478289
        explode: true
        in: query
        name: walmart_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Walmart client secret. For the region 'ca' use Private Key
        example: 1gf85fea-8974-2648-w12w-rt54284tdf54
        explode: true
        in: query
        name: walmart_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Walmart environment
        example: production
        explode: true
        in: query
        name: walmart_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Walmart WM_CONSUMER.CHANNEL.TYPE header
        example: 0f3e4dd4-0514-4346-b39d-af0e00ea066d
        explode: true
        in: query
        name: walmart_channel_type
        required: false
        schema:
          type: string
        style: form
      - description: Walmart region
        example: us
        explode: true
        in: query
        name: walmart_region
        required: false
        schema:
          default: us
          type: string
        style: form
      - description: Square (Weebly) Client ID
        example: sq0idp-qwer_1pvuTYe9cAf1lmxyQ
        explode: true
        in: query
        name: square_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Square (Weebly) Client Secret
        example: c8d7077fce7b2b111111111898170695a01473a2ad
        explode: true
        in: query
        name: square_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Square (Weebly) Refresh Token
        example: EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434
        explode: true
        in: query
        name: square_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace API Key
        example: 8f7849d5-1411-47f2-9722-aa81c2a48d95
        explode: true
        in: query
        name: squarespace_api_key
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace Connector Client ID
        example: 9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx
        explode: true
        in: query
        name: squarespace_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace Connector Client Secret
        example: GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=
        explode: true
        in: query
        name: squarespace_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace access token
        example: SWSCS3O1RJBSRNBYQLFIYJN2ZQ
        explode: true
        in: query
        name: squarespace_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Squarespace refresh token
        example: def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d
        explode: true
        in: query
        name: squarespace_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Omni Commerce Connector Client ID
        example: api_client_1
        explode: true
        in: query
        name: hybris_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Omni Commerce Connector Client Secret
        example: secret_phrase_1
        explode: true
        in: query
        name: hybris_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: User Name
        example: admin
        explode: true
        in: query
        name: hybris_username
        required: false
        schema:
          type: string
        style: form
      - description: User password
        example: nimda
        explode: true
        in: query
        name: hybris_password
        required: false
        schema:
          type: string
        style: form
      - description: Websites to stores mapping data
        example: "hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk"
        explode: true
        in: query
        name: hybris_websites
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: LightSpeed api key
        example: cf5444729c2abd6b6a5d983691767cb5
        explode: true
        in: query
        name: lightspeed_api_key
        required: false
        schema:
          type: string
        style: form
      - description: LightSpeed api secret
        example: 2620ee52a8bc942f9d5d3a575f4d363e
        explode: true
        in: query
        name: lightspeed_api_secret
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api key
        example: sJrD-LM0eddhe63rfgfva0dDydXfre4
        explode: true
        in: query
        name: commercehq_api_key
        required: false
        schema:
          type: string
        style: form
      - description: CommerceHQ api password
        example: 4Grr_ZCLNNoSUuhAjesKuchxo9SL
        explode: true
        in: query
        name: commercehq_api_password
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer key
        example: ck_26d8e2ad604f3917e429df6961722282bdcf109d
        explode: true
        in: query
        name: wc_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Woocommerce consumer secret
        example: cs_931ced666118a15c5f7b4a33a15gf5589cbeba55
        explode: true
        in: query
        name: wc_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Key
        example: ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy
        explode: true
        in: query
        name: magento_consumer_key
        required: false
        schema:
          type: string
        style: form
      - description: Magento Consumer Secret
        example: a46abc3kxyinlbggy06i9g975xqo6gjq
        explode: true
        in: query
        name: magento_consumer_secret
        required: false
        schema:
          type: string
        style: form
      - description: Magento Access Token
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: magento_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Magento Token Secret
        example: igse8e4rdmzkxdi937qe69d59en1imw
        explode: true
        in: query
        name: magento_token_secret
        required: false
        schema:
          type: string
        style: form
      - description: Prestashop webservice key
        example: CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96
        explode: true
        in: query
        name: prestashop_webservice_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix App ID
        example: 6b0b5b7b-7d87-45b5-bf34-ac6b438e63da
        explode: true
        in: query
        name: wix_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Wix App Secret Key
        example: 316c0a09-f195-42be-74f6-a02cebb9cae6
        explode: true
        in: query
        name: wix_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Wix Instance ID
        example: 58b893a4-6b16-5c2f-qt78-qa3r61t32rt8
        explode: true
        in: query
        name: wix_instance_id
        required: false
        schema:
          type: string
        style: form
      - description: Wix refresh token
        example: "\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n\
          \        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n   \
          \     Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n\
          \        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      "
        explode: true
        in: query
        name: wix_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App ID
        example: "211188015100135"
        explode: true
        in: query
        name: mercado_libre_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre App Secret Key
        example: e2qoG2zklLlfP7cEngEJ94YjhkejkjAm
        explode: true
        in: query
        name: mercado_libre_app_secret_key
        required: false
        schema:
          type: string
        style: form
      - description: Mercado Libre Refresh Token
        example: TG-63h13529vb5464110188d2x9-703754376
        explode: true
        in: query
        name: mercado_libre_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Client ID
        example: 1234
        explode: true
        in: query
        name: zid_client_id
        required: false
        schema:
          type: integer
        style: form
      - description: Zid Client Secret
        example: nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs
        explode: true
        in: query
        name: zid_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Zid Access Token
        example: def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d
        explode: true
        in: query
        name: zid_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Zid Authorization
        example: def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d
        explode: true
        in: query
        name: zid_authorization
        required: false
        schema:
          type: string
        style: form
      - description: Zid refresh token
        example: def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d
        explode: true
        in: query
        name: zid_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Flipkart Client ID
        example: 19414773883a13a850b6a52350b7246499a24
        explode: true
        in: query
        name: flipkart_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Flipkart Client Secret
        example: nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs
        explode: true
        in: query
        name: flipkart_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Allegro Client ID
        example: 2915e189ce3d23d23d2327d204ae6a0bd
        explode: true
        in: query
        name: allegro_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Allegro Client Secret
        example: DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5
        explode: true
        in: query
        name: allegro_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Allegro Access Token
        example: eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI
        explode: true
        in: query
        name: allegro_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Allegro Refresh Token
        example: eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI
        explode: true
        in: query
        name: allegro_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Allegro Environment
        example: sandbox
        explode: true
        in: query
        name: allegro_environment
        required: false
        schema:
          default: production
          type: string
        style: form
      - description: Zoho Client ID
        example: 1000.FLCHGI2LS1111111TOR4OGB697W4IX
        explode: true
        in: query
        name: zoho_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Zoho Client Secret
        example: c8d7077fce7b2b111111111898170695a01473a2ad
        explode: true
        in: query
        name: zoho_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Zoho Refresh Token
        example: 1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b
        explode: true
        in: query
        name: zoho_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Zoho API endpoint Region
        example: Europe
        explode: true
        in: query
        name: zoho_region
        required: false
        schema:
          type: string
        style: form
      - description: Tiendanube User ID
        example: 1234
        explode: true
        in: query
        name: tiendanube_user_id
        required: false
        schema:
          type: integer
        style: form
      - description: Tiendanube Access Token
        example: 75bde7bb0b437475423e7e87c142c06052f80199
        explode: true
        in: query
        name: tiendanube_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Tiendanube Client Secret
        example: 5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed
        explode: true
        in: query
        name: tiendanube_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Otto Client ID
        example: 911a3dbf-d261-4763-cc81-052876465b55
        explode: true
        in: query
        name: otto_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Otto Client Secret
        example: 9887a82a-2879-421e-a6wc-54e986b3458c
        explode: true
        in: query
        name: otto_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Otto App ID
        example: 6eaef6a3-822e-425b-8mc9-53750063e34d
        explode: true
        in: query
        name: otto_app_id
        required: false
        schema:
          type: string
        style: form
      - description: Otto Refresh Token
        example: eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI
        explode: true
        in: query
        name: otto_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Otto Environment
        example: sandbox
        explode: true
        in: query
        name: otto_environment
        required: false
        schema:
          type: string
        style: form
      - description: Otto Access Token
        example: eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI
        explode: true
        in: query
        name: otto_access_token
        required: false
        schema:
          type: string
        style: form
      - description: TikTok Shop App Key
        example: 6arbhkzno8nbv
        explode: true
        in: query
        name: tiktokshop_app_key
        required: false
        schema:
          type: string
        style: form
      - description: TikTok Shop App Secret
        example: d95820a05a0cd54fb394fcd26fgat63999b183bc
        explode: true
        in: query
        name: tiktokshop_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: TikTok Shop Refresh Token
        example: TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw
        explode: true
        in: query
        name: tiktokshop_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: TikTok Shop Access Token
        example: TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk
        explode: true
        in: query
        name: tiktokshop_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Salla Client ID
        example: 1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11
        explode: true
        in: query
        name: salla_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Salla Client Secret
        example: 8x88axxxc25e1fxxxa1c06fxxx150xx5
        explode: true
        in: query
        name: salla_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Salla Refresh Token
        example: oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc
        explode: true
        in: query
        name: salla_refresh_token
        required: false
        schema:
          type: string
        style: form
      - description: Salla Access Token
        example: oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc
        explode: true
        in: query
        name: salla_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Temu App Key
        example: 4ebbc9190ae410443d65b4c2faca9811
        explode: true
        in: query
        name: temu_app_key
        required: false
        schema:
          type: string
        style: form
      - description: Temu App Secret
        example: 4782d2d827276688bf4758bed55dbdd4bbe79a78
        explode: true
        in: query
        name: temu_app_secret
        required: false
        schema:
          type: string
        style: form
      - description: Temu Access Token
        example: uplv3hfyt5kcwoymrgnajnbl1ow5qxlz4sqhev6hl3xosz5dejrtyl2jre6
        explode: true
        in: query
        name: temu_access_token
        required: false
        schema:
          type: string
        style: form
      - description: Temu API endpoint Region.
        example: US
        explode: true
        in: query
        name: temu_region
        required: false
        schema:
          type: string
        style: form
      - description: Salesforce Commerce API Client ID
        example: b941ec85-v6b2-1dw8-9fe2-98e1d6eec7b1
        explode: true
        in: query
        name: scapi_client_id
        required: false
        schema:
          type: string
        style: form
      - description: Salesforce Commerce API Client Secret
        example: testpassword
        explode: true
        in: query
        name: scapi_client_secret
        required: false
        schema:
          type: string
        style: form
      - description: Salesforce Commerce Organization ID
        example: f_ecom_xxxx_001
        explode: true
        in: query
        name: scapi_organization_id
        required: false
        schema:
          type: string
        style: form
      - description: Salesforce Commerce Short Code
        example: zs5ksm25
        explode: true
        in: query
        name: scapi_short_code
        required: false
        schema:
          type: string
        style: form
      - description: Salesforce Commerce API Scopes
        example: "sfcc.catalogs,sfcc.orders,sfcc.products"
        explode: true
        in: query
        name: scapi_scopes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfigUpdate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: account.config.update
      tags:
      - account
  /attribute.info.json:
    get:
      description: Get information about a specific global attribute by its ID.
      operationId: AttributeInfo
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: force_all
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: name
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeInfo_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.info
      tags:
      - attribute
  /attribute.count.json:
    get:
      description: Get attributes count
      operationId: AttributeCount
      parameters:
      - description: Defines attribute's type
        example: text
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by visibility status
        example: true
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: boolean
        style: form
      - description: Defines if the option is required
        example: true
        explode: true
        in: query
        name: required
        required: false
        schema:
          type: boolean
        style: form
      - description: True if attribute is system
        example: false
        explode: true
        in: query
        name: system
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeCount_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.count
      tags:
      - attribute
  /attribute.list.json:
    get:
      description: Get a list of global attributes.
      operationId: AttributeList
      parameters:
      - description: This parameter sets the number from which you want to get entities
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Filter attributes by ids
        example: "1,2,3"
        explode: true
        in: query
        name: attribute_ids
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Retrieves attributes on specified language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Defines attribute's type
        example: text
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by visibility status
        example: true
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: boolean
        style: form
      - description: Defines if the option is required
        example: true
        explode: true
        in: query
        name: required
        required: false
        schema:
          type: boolean
        style: form
      - description: True if attribute is system
        example: false
        explode: true
        in: query
        name: system
        required: false
        schema:
          type: boolean
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{return_code,return_message,pagination,result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "id,name"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name,code,type"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: "id,name"
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Attribute_List'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.list
      tags:
      - attribute
  /attribute.add.json:
    post:
      description: Add new attribute
      operationId: AttributeAdd
      parameters:
      - description: Defines attribute's type
        example: text
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - text
          - select
          - textarea
          - date
          - price
          - multiselect
          - boolean
          type: string
        style: form
      - description: Defines attributes's name
        example: Specification
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Entity code
        example: code
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set visibility status
        example: true
        explode: true
        in: query
        name: visible
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Defines if the option is required
        example: true
        explode: true
        in: query
        name: required
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Attribute`s position
        example: 5
        explode: true
        in: query
        name: position
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter by attribute_group_id
        example: "202"
        explode: true
        in: query
        name: attribute_group_id
        required: false
        schema:
          type: string
        style: form
      - description: Attribute saving scope
        example: Global
        explode: true
        in: query
        name: is_global
        required: false
        schema:
          default: Store
          type: string
        style: form
      - description: Use attribute in Quick Search
        example: false
        explode: true
        in: query
        name: is_searchable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use In Layered Navigation
        example: "No"
        explode: true
        in: query
        name: is_filterable
        required: false
        schema:
          default: "No"
          type: string
        style: form
      - description: Comparable on Front-end
        example: true
        explode: true
        in: query
        name: is_comparable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Allow HTML Tags on Frontend
        example: true
        explode: true
        in: query
        name: is_html_allowed_on_front
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use In Search Results Layered Navigation
        example: true
        explode: true
        in: query
        name: is_filterable_in_search
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use To Create Configurable Product
        example: true
        explode: true
        in: query
        name: is_configurable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use in Advanced Search
        example: true
        explode: true
        in: query
        name: is_visible_in_advanced_search
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Use for Promo Rule Conditions
        example: true
        explode: true
        in: query
        name: is_used_for_promo_rules
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Used in Product Listing
        example: true
        explode: true
        in: query
        name: used_in_product_listing
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Used for Sorting in Product Listing
        example: true
        explode: true
        in: query
        name: used_for_sort_by
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Types of products which can have this attribute
        example: Global
        explode: true
        in: query
        name: apply_to
        required: false
        schema:
          default: all_types
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAdd_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.add
      tags:
      - attribute
  /attribute.update.json:
    put:
      description: Update attribute data
      operationId: AttributeUpdate
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Defines new attributes's name
        example: Test name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUpdate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.update
      tags:
      - attribute
  /attribute.delete.json:
    delete:
      description: Delete attribute from store
      operationId: AttributeDelete
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDelete_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.delete
      tags:
      - attribute
  /attribute.assign.group.json:
    post:
      description: Assign attribute to the group
      operationId: AttributeAssignGroup
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute group_id
        example: 3
        explode: true
        in: query
        name: group_id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAssignGroup_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.assign.group
      tags:
      - attribute
  /attribute.assign.set.json:
    post:
      description: Assign attribute to the attribute set
      operationId: AttributeAssignSet
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute group_id
        example: 3
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          type: string
        style: form
      - description: Attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAssignGroup_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.assign.set
      tags:
      - attribute
  /attribute.attributeset.list.json:
    get:
      description: Get attribute_set list
      operationId: AttributeAttributesetList
      parameters:
      - description: This parameter sets the number from which you want to get entities
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "id,name"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: "id,name"
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Attribute_Attributeset_List'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.attributeset.list
      tags:
      - attribute
  /attribute.group.list.json:
    get:
      description: Get attribute group list
      operationId: AttributeGroupList
      parameters:
      - description: This parameter sets the number from which you want to get entities
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "id,name"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "id,name"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: "id,name"
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Attribute_Group_List'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.group.list
      tags:
      - attribute
  /attribute.type.list.json:
    get:
      description: Get list of supported attributes types
      operationId: AttributeTypeList
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeTypeList_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.type.list
      tags:
      - attribute
  /attribute.unassign.group.json:
    post:
      description: Unassign attribute from group
      operationId: AttributeUnassignGroup
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Customer group_id
        example: 3
        explode: true
        in: query
        name: group_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUnassignGroup_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.unassign.group
      tags:
      - attribute
  /attribute.unassign.set.json:
    post:
      description: Unassign attribute from attribute set
      operationId: AttributeUnassignSet
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute set id
        example: "4"
        explode: true
        in: query
        name: attribute_set_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUnassignGroup_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.unassign.set
      tags:
      - attribute
  /attribute.value.add.json:
    post:
      description: Add new value to attribute.
      operationId: AttributeValueAdd
      parameters:
      - description: Attribute Id
        example: "156"
        explode: true
        in: query
        name: attribute_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines attribute value's name
        example: Test name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Entity code
        example: code
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: Defines attribute value's description
        example: Test value
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeAdd_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.value.add
      tags:
      - attribute
  /attribute.value.update.json:
    put:
      description: Update attribute value.
      operationId: AttributeValueUpdate
      parameters:
      - description: Defines attribute value's id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute Id
        example: "156"
        explode: true
        in: query
        name: attribute_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines attribute value's name
        example: Test name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Defines new attribute value's description
        example: Test value
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Entity code
        example: code
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Language id
        example: 3
        explode: true
        in: query
        name: lang_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUpdate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.value.update
      tags:
      - attribute
  /attribute.value.delete.json:
    delete:
      description: Delete attribute value.
      operationId: AttributeValueDelete
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Attribute Id
        example: "156"
        explode: true
        in: query
        name: attribute_id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeValueDelete_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: attribute.value.delete
      tags:
      - attribute
  /basket.info.json:
    get:
      description: Retrieve basket information.
      operationId: BasketInfo
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "id,model,price,images"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: force_all
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: false
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketInfo_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: basket.info
      tags:
      - basket
  /basket.item.add.json:
    post:
      description: Add item to basket
      operationId: BasketItemAdd
      parameters:
      - description: Retrieves orders specified by customer id
        example: "5"
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines id of the product which should be added to the basket
        example: 10
        explode: true
        in: query
        name: product_id
        required: true
        schema:
          type: string
        style: form
      - description: Defines product's variants specified by variant id
        example: 45
        explode: true
        in: query
        name: variant_id
        required: false
        schema:
          type: string
        style: form
      - description: Defines new items quantity
        example: 6
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketItemAdd_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: basket.item.add
      tags:
      - basket
  /basket.live_shipping_service.list.json:
    get:
      description: Retrieve a list of live shipping rate services.
      operationId: BasketLiveShippingServiceList
      parameters:
      - description: This parameter sets the number from which you want to get entities
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceList_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: basket.live_shipping_service.list
      tags:
      - basket
  /basket.live_shipping_service.create.json:
    post:
      description: Create live shipping rate service.
      operationId: BasketLiveShippingServiceCreate
      parameters:
      - description: Shipping Service Name
        example: BestDelivery
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Callback url that returns shipping rates. It should be able to
          accept POST requests with json data.
        example: https://example.com/callback
        explode: true
        in: query
        name: callback
        required: true
        schema:
          type: string
        style: form
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceCreate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: basket.live_shipping_service.create
      tags:
      - basket
  /basket.live_shipping_service.delete.json:
    delete:
      description: Delete live shipping rate service.
      operationId: BasketLiveShippingServiceDelete
      parameters:
      - description: Entity id
        example: 5
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketLiveShippingServiceDelete_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: basket.live_shipping_service.delete
      tags:
      - basket
  /batch.job.list.json:
    get:
      description: Get list of recent jobs
      operationId: BatchJobList
      parameters:
      - description: This parameter sets the entity amount that has to be retrieved.
          Max allowed count=250
        example: 20
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Used to retrieve entities via cursor-based pagination (it can't
          be used with any other filtering parameter)
        example: ""
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter batch jobs by ids
        example: "24,25"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities from their creation date
        example: 2010-07-29 13:45:52
        explode: true
        in: query
        name: created_from
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities to their creation date
        example: 2100-08-29 13:45:52
        explode: true
        in: query
        name: created_to
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities according to their processing datetime
        example: 2100-08-29 13:45:52
        explode: true
        in: query
        name: processed_from
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve entities according to their processing datetime
        example: 2100-08-29 13:45:52
        explode: true
        in: query
        name: processed_to
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          default: "{return_code,return_message,pagination,result}"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_Response_Batch_Job_List'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: batch.job.list
      tags:
      - batch
  /batch.job.result.json:
    get:
      description: Get job result data
      operationId: BatchJobResult
      parameters:
      - description: Entity id
        example: 10
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Batch_Job_Result'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: batch.job.result
      tags:
      - batch
  /bridge.download.file:
    get:
      description: Download bridge for store.</br>Please note that the method would
        not work if you call it from Swagger UI.
      operationId: BridgeDownload
      parameters:
      - description: Identifies if there is a necessity to download whitelabel bridge.
        example: true
        explode: true
        in: query
        name: whitelabel
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: bridge.download
      tags:
      - bridge
  /bridge.update.json:
    post:
      description: Update bridge in the store.
      operationId: BridgeUpdate
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeUpdate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: bridge.update
      tags:
      - bridge
  /bridge.delete.json:
    post:
      description: Delete bridge from the store.
      operationId: BridgeDelete
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeValueDelete_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: bridge.delete
      tags:
      - bridge
  /cart.info.json:
    get:
      description: "This method allows you to get various information about the store,\
        \ including a list of stores (in the case of a multistore configuration),\
        \ a list of supported languages, currencies, carriers, warehouses, and many\
        \ other information. This information contains data that is relatively stable\
        \ and rarely changes, so API2Cart can cache certain data to reduce the load\
        \ on the store and speed up the execution of the request. We also recommend\
        \ that you cache the response of this method on your side to save requests.\
        \ If you need to clear the cache for a specific store, then use the cart.validate\
        \ method."
      operationId: CartInfo
      parameters:
      - description: Store Id
        example: "1"
        explode: true
        in: query
        name: store_id
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to retrieve
        example: "name,url"
        explode: true
        in: query
        name: params
        required: false
        schema:
          default: "store_name,store_url,db_prefix"
          type: string
        style: form
      - description: Set this parameter in order to choose which entity fields you
          want to ignore. Works only if parameter `params` equal force_all
        example: "name,url"
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartInfo_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: cart.info
      tags:
      - cart
  /cart.validate.json:
    get:
      description: "This method clears the cache in API2Cart for a particular store\
        \ and checks whether the connection to the store is available. Use this method\
        \ if there have been any changes in the settings on the storе, for example,\
        \ if a new plugin has been installed or removed."
      operationId: CartValidate
      parameters:
      - description: Specify if api2cart should validate cart version
        example: true
        explode: true
        in: query
        name: validate_version
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartValidate_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: cart.validate
      tags:
      - cart
  /cart.methods.json:
    get:
      description: Returns a list of supported API methods.
      operationId: CartMethods
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartMethods_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: cart.methods
      tags:
      - cart
  /cart.delete.json:
    delete:
      description: Remove store from API2Cart
      operationId: CartDelete
      parameters:
      - description: Identifies if there is a necessity to delete bridge
        example: true
        explode: true
        in: query
        name: delete_bridge
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDelete_200_response'
          description: successful operation
      security:
      - ApiKeyAuth: []
        StoreKeyAuth: []
      summary: cart.delete
      tags:
      - cart
  /cart.catalog_price_rules.count.json:
    get:
      description: Get count of cart catalog price rules discounts.
      operationId: CartCatalogPriceRulesCount
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
